openapi: 3.2.0
info:
  title: Plaid API
  contact:
    name: Plaid Developer Team
    url: https://plaid.com
  termsOfService: https://plaid.com/legal/
  version: '1.0'
  description: 'Operations tagged Plaid across 5 of this provider''s published API definitions: plaid-cra--openapi-original.yml, plaid-deposit-switch--openapi-original.yml, plaid-link--openapi-original.yml, plaid-openapi-original.yml, plaid-profile--openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://production.plaid.com
- description: Development
  url: https://development.plaid.com
- description: Sandbox
  url: https://sandbox.plaid.com
security:
- clientId: []
  secret: []
  plaidVersion: []
tags:
- name: Plaid
paths:
  /cra/base_report/get:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      summary: Plaid Retrieve a Base Report
      tags:
      - Plaid
      operationId: baseReportGet
      x-hidden-from-docs: true
      externalDocs:
        url: /none/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseReportGetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseReportGetResponse'
              examples:
                example-1:
                  value:
                    report:
                      report_id: 028e8404-a013-4a45-ac9e-002482f9cafc
                      date_generated: '2023-03-30T18:27:37Z'
                      days_requested: 5
                      items:
                      - accounts:
                        - balances:
                            available: 43200
                            current: 43200
                            iso_currency_code: USD
                            unofficial_currency_code: null
                            limit: null
                          days_available: 5
                          historical_balances:
                          - current: 49050
                            date: '2023-03-29'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-28'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-27'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-26'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-25'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: '4444'
                          name: Plaid Money Market
                          official_name: Plaid Platinum Standard 1.85% Interest Money Market
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                region: NY
                                street: 2992 Cameron Road
                                postal_code: '14236'
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                region: CA
                                street: 2493 Leisure Lane
                                postal_code: 93405-2255
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: '1112223333'
                              primary: false
                              type: home
                            - data: '1112224444'
                              primary: false
                              type: work
                            - data: '1112225555'
                              primary: false
                              type: mobile
                          ownership_type: null
                          subtype: money market
                          transactions:
                          - amount: 5850
                            date: '2023-03-30'
                            iso_currency_code: USD
                            original_description: ACH Electronic CreditGUSTO PAY 123456
                            pending: false
                            unofficial_currency_code: null
                          type: depository
                        - balances:
                            available: 100
                            current: 110
                            iso_currency_code: USD
                            unofficial_currency_code: null
                            limit: null
                          days_available: 5
                          historical_balances:
                          - current: 110
                            date: '2023-03-29'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -390
                            date: '2023-03-28'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -373.67
                            date: '2023-03-27'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -284.27
                            date: '2023-03-26'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -284.27
                            date: '2023-03-25'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: '0000'
                          name: Plaid Checking
                          official_name: Plaid Gold Standard 0% Interest Checking
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                region: NY
                                street: 2992 Cameron Road
                                postal_code: '14236'
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                region: CA
                                street: 2493 Leisure Lane
                                postal_code: 93405-2255
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: '1112223333'
                              primary: false
                              type: home
                            - data: '1112224444'
                              primary: false
                              type: work
                            - data: '1112225555'
                              primary: false
                              type: mobile
                          ownership_type: null
                          subtype: checking
                          transactions:
                          - amount: 89.4
                            date: '2023-03-27'
                            iso_currency_code: USD
                            original_description: SparkFun
                            pending: false
                            unofficial_currency_code: null
                          - amount: 12
                            date: '2023-03-28'
                            iso_currency_code: USD
                            original_description: 'McDonalds #3322'
                            pending: false
                            unofficial_currency_code: null
                          - amount: 4.33
                            date: '2023-03-28'
                            iso_currency_code: USD
                            original_description: Starbucks
                            pending: false
                            unofficial_currency_code: null
                          - amount: -500
                            date: '2023-03-29'
                            iso_currency_code: USD
                            original_description: United Airlines **** REFUND ****
                            pending: false
                            unofficial_currency_code: null
                          type: depository
                        date_last_updated: '2023-03-30T18:25:26Z'
                        institution_id: ins_109508
                        institution_name: First Platypus Bank
                    request_id: GVzMdiDd8DDAQK4
      description: This endpoint allows the customer to retrieve a Base Report. Customers should pass in the `user_token` created in `/link/token/create`.
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/base_report/create:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      summary: Plaid Create a Base Report
      tags:
      - Plaid
      operationId: baseReportCreate
      x-hidden-from-docs: true
      externalDocs:
        url: /none/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseReportCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseReportCreateResponse'
              examples:
                example-1:
                  value:
                    request_id: GVzMdiDd8DDAQK4
      description: This endpoint allows the customer to create a Base Report by passing in a user token. The Base Report will be generated based on the most recently linked item from the user token.
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/bank_income/get:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      summary: Plaid Retrieve information from the bank accounts used for income verification
      tags:
      - Plaid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraBankIncomeGetResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
                    bank_income:
                    - bank_income_id: abc123
                      generated_time: '2022-01-31T22:47:53Z'
                      days_requested: 90
                      items:
                      - last_updated_time: '2022-01-31T22:47:53Z'
                        institution_id: ins_0
                        institution_name: Plaid Bank
                        bank_income_accounts:
                        - mask: '8888'
                          name: Plaid Checking Account
                          official_name: Plaid Checking Account
                          type: depository
                          subtype: checking
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                postal_code: '14236'
                                region: NY
                                street: 2992 Cameron Road
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                postal_code: 93405-2255
                                region: CA
                                street: 2493 Leisure Lane
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: '1112223333'
                              primary: false
                              type: home
                            - data: '1112224444'
                              primary: false
                              type: work
                            - data: '1112225555'
                              primary: false
                              type: mobile
                        bank_income_sources:
                        - income_source_id: “f17efbdd-caab-4278-8ece-963511cd3d51”
                          income_description: “PLAID_INC_DIRECT_DEP_PPD”
                          income_category: SALARY
                          start_date: '2021-11-15'
                          end_date: '2022-01-15'
                          pay_frequency: MONTHLY
                          total_amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                          transaction_count: 1
                          next_payment_date: '2022-12-15'
                          historical_average_monthly_gross_income: 390
                          historical_average_monthly_income: 300
                          forecasted_average_monthly_income: 300
                          forecasted_average_monthly_income_prediction_intervals:
                          - lower_bound: 200
                            upper_bound: 400
                            probability: 0.8
                          employer:
                            name: Plaid Inc
                          historical_summary:
                          - start_date: '2021-11-02'
                            end_date: '2021-11-30'
                            total_amounts:
                            - amount: 100
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            transactions:
                            - amount: -100
                              date: '2021-11-15'
                              name: “PLAID_INC_DIRECT_DEP_PPD”
                              original_description: PLAID_INC_DIRECT_DEP_PPD 123
                              pending: false
                              check_number: null
                              iso_currency_code: USD
                              unofficial_currency_code: null
                          - start_date: '2021-12-01'
                            end_date: '2021-12-31'
                            total_amounts:
                            - amount: 100
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            transactions:
                            - amount: -100
                              date: '2021-12-15'
                              name: “PLAID_INC_DIRECT_DEP_PPD”
                              original_description: PLAID_INC_DIRECT_DEP_PPD 123
                              pending: false
                              check_number: null
                              iso_currency_code: USD
                              unofficial_currency_code: null
                          - start_date: '2022-01-01'
                            end_date: '2022-01-31'
                            total_amounts:
                            - amount: 100
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            transactions:
                            - amount: -100
                              date: '2022-01-31'
                              name: “PLAID_INC_DIRECT_DEP_PPD”
                              original_description: PLAID_INC_DIRECT_DEP_PPD 123
                              pending: false
                              check_number: null
                              iso_currency_code: USD
                              unofficial_currency_code: null
                      bank_income_summary:
                        total_amounts:
                        - amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        start_date: '2021-11-15'
                        end_date: '2022-01-15'
                        income_sources_count: 1
                        income_categories_count: 1
                        income_transactions_count: 1
                        historical_average_monthly_gross_income:
                        - amount: 390
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_average_monthly_income:
                        - amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        forecasted_average_monthly_income:
                        - amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_annual_gross_income:
                        - amount: 4680
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_annual_income:
                        - amount: 3600
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        forecasted_annual_income:
                        - amount: 3600
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_summary:
                        - start_date: '2021-11-02'
                          end_date: '2021-11-30'
                          total_amounts:
                          - amount: 100
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          transactions:
                          - amount: -100
                            date: '2021-11-15'
                            name: “PLAID_INC_DIRECT_DEP_PPD”
                            original_description: PLAID_INC_DIRECT_DEP_PPD 123
                            pending: false
                            check_number: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        - start_date: '2021-12-01'
                          end_date: '2021-12-31'
                          total_amounts:
                          - amount: 100
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          transactions:
                          - amount: -100
                            date: '2021-12-15'
                            name: “PLAID_INC_DIRECT_DEP_PPD”
                            original_description: PLAID_INC_DIRECT_DEP_PPD 123
                            pending: false
                            check_number: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        - start_date: '2022-01-01'
                          end_date: '2022-01-31'
                          total_amounts:
                          - amount: 100
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          transactions:
                          - amount: -100
                            date: '2022-01-31'
                            name: “PLAID_INC_DIRECT_DEP_PPD”
                            original_description: PLAID_INC_DIRECT_DEP_PPD 123
                            pending: false
                            check_number: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                      warnings: []
      externalDocs:
        url: /api/products/income/#crabank_incomeget
      operationId: craBankIncomeGet
      description: '`/cra/bank_income/get` returns the bank income report(s) for a specified user.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraBankIncomeGetRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/bank_income/create:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      summary: Plaid Create a CRA report for income verification
      tags:
      - Plaid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraBankIncomeCreateResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
      externalDocs:
        url: /api/products/income/#crabank_incomecreate
      operationId: craBankIncomeCreate
      description: '`/cra/bank_income/create` creates a CRA report for income verification'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraBankIncomeCreateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/partner_insights/get:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      summary: Plaid Retrieve cash flow insights from the bank accounts used for income…
      tags:
      - Plaid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraPartnerInsightsGetResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
                    report:
                    - report_id: abc123
                      generated_time: '2022-01-31T22:47:53Z'
                      items:
                      - institution_id: ins_0
                        institution_name: Plaid Bank
                        item_id: ABC123
                        accounts:
                        - mask: '8888'
                          name: Plaid Checking Account
                          official_name: Plaid Checking Account
                          type: depository
                          subtype: checking
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                postal_code: '14236'
                                region: NY
                                street: 2992 Cameron Road
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                postal_code: 93405-2255
                                region: CA
                                street: 2493 Leisure Lane
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: '1112223333'
                              primary: false
                              type: home
                            - data: '1112224444'
                              primary: false
                              type: work
                            - data: '1112225555'
                              primary: false
                              type: mobile
                      prism:
                        insights:
                          version: 3
                          result:
                            l6m_cumbal_acc: 1
                        cash_score:
                          version: 3
                          score: 900
                          reason_codes:
                          - CASHFLOW_D11
                          metadata:
                            max_age: 20
                            min_age: 1
                            min_age_credit: 0
                            min_age_debit: 1
                            max_age_debit: 20
                            max_age_credit: 0
                            num_trxn_credit: 0
                            num_trxn_debit: 40
                            l1m_credit_value_cnt: 0
                            l1m_debit_value_cnt: 40
                        detect:
                          version: 3
                          score: 900
                          reason_codes:
                          - CASHFLOW_D11
                          metadata:
                            max_age: 20
                            min_age: 1
                            min_age_credit: 0
                            min_age_debit: 1
                            max_age_debit: 20
                            max_age_credit: 0
                            num_trxn_credit: 0
                            num_trxn_debit: 40
                            l1m_credit_value_cnt: 0
                            l1m_debit_value_cnt: 40
                        status: SUCCESS
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      externalDocs:
        url: /api/products/income/#crapartner_insightsget
      operationId: craPartnerInsightsGet
      description: '`/cra/partner_insights/get` returns cash flow insights for a specified user.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraPartnerInsightsGetRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/loans/applications/register:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      tags:
      - Plaid
      summary: Plaid Register loan applications and decisions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraLoansApplicationsRegisterResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
      operationId: craLoansApplicationsRegister
      externalDocs:
        url: /none/
      description: '`/cra/loans/applications/register` registers loan applications and decisions.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraLoansApplicationsRegisterRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/loans/register:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      tags:
      - Plaid
      summary: Plaid Register a list of loans to their applicants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraLoansRegisterResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
      operationId: craLoansRegister
      externalDocs:
        url: /none/
      description: '`/cra/loans/register` registers a list of loans to their applicants.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRALoansRegisterRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/loans/update:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      tags:
      - Plaid
      summary: Plaid Updates loan data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraLoansUpdateResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
      operationId: craLoansUpdate
      externalDocs:
        url: /none/
      description: '`/cra/loans/update` updates loan information such as the status and payment history.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraLoansUpdateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/loans/unregister:
    x-plaid-business-unit-context: BUSINESS_UNIT_CRA
    post:
      tags:
      - Plaid
      summary: Plaid Unregister a list of loans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraLoanUnregisterResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
      operationId: craLoansUnregister
      externalDocs:
        url: /none/
      description: '`/cra/loans/unregister` indicates the loans have reached a final status and no further updates are expected.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraLoansUnregisterRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /deposit_switch/create:
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      tags:
      - Plaid
      summary: Plaid Create a deposit switch
      externalDocs:
        url: /deposit-switch/reference#deposit_switchcreate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositSwitchCreateResponse'
              examples:
                example-1:
                  value:
                    deposit_switch_id: c7jMwPPManIwy9rwMewWP7lpb4pKRbtrbMomp
                    request_id: lMjeOeu9X1VUh1F
      operationId: depositSwitchCreate
      description: This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositSwitchCreateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /deposit_switch/token/create:
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      tags:
      - Plaid
      summary: Plaid Create a deposit switch token
      externalDocs:
        url: /deposit-switch/reference#deposit_switchtokencreate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositSwitchTokenCreateResponse'
              examples:
                example-1:
                  value:
                    deposit_switch_token: deposit-switch-sandbox-3e5cacca-10a6-11ea-bcdb-6003089acac0
                    deposit_switch_token_expiration_time: '2019-12-31T12:01:37Z'
                    request_id: 68MvHx4Ub5NYoXt
      operationId: depositSwitchTokenCreate
      description: In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositSwitchTokenCreateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /deposit_switch/get:
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      summary: Plaid Retrieve a deposit switch
      externalDocs:
        url: /deposit-switch/reference#deposit_switchget
      tags:
      - Plaid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositSwitchGetResponse'
              examples:
                example-1:
                  value:
                    target_item_id: MdRAkq1QikR3BLjDyMfMkVpqLmEm1VR7bX5hE
                    target_account_id: bX5hEMdRAkq1QikR3BLjDyMfMkVpqLmEm1VR7
                    deposit_switch_id: LjDyMfMkVpqLmEm1VR7bQikR3BX5hEMdRAkq1
                    state: completed
                    switch_method: instant
                    date_created: '2019-11-01'
                    date_completed: '2019-11-01'
                    account_has_multiple_allocations: true
                    is_allocated_remainder: false
                    percent_allocated: 50
                    amount_allocated: null
                    employer_name: COMPANY INC
                    employer_id: pqLmEm1VR7bQi11231
                    institution_name: Bank of America
                    institution_id: ins_1
                    request_id: lMjeOeu9X1VUh1F
      operationId: depositSwitchGet
      description: This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user's direct deposit allocation preferences.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositSwitchGetRequest'
      parameters: []
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /deposit_switch/alt/create:
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      summary: Create a deposit switch without using Plaid Exchange
      tags:
      - Plaid
      externalDocs:
        url: /deposit-switch/reference#deposit_switchaltcreate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositSwitchAltCreateResponse'
              examples:
                example-1:
                  value:
                    deposit_switch_id: c7jMwPPManIwy9rwMewWP7lpb4pKRbtrbMomp
                    request_id: lMjeOeu9X1VUh1F
      operationId: depositSwitchAltCreate
      description: This endpoint provides an alternative to `/deposit_switch/create` for customers who have not yet fully integrated with Plaid Exchange. Like `/deposit_switch/create`, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositSwitchAltCreateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /link/profile/eligibility/check:
    x-hidden-from-docs: true
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      tags:
      - Plaid
      summary: Plaid Check profile eligibility
      externalDocs:
        url: /api/link/#profileeligibilitycheck
      operationId: linkProfileEligibilityCheck
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkProfileEligibilityCheckResponse'
              examples:
                example-1:
                  value:
                    profile_matches: true
                    request_id: XQVgFigpGHXkb0b
      description: 'The `/link/profile/eligibility/check` endpoint can be used to check whether a user with the

        supplied phone number has a saved profile that satisfies customer-defined eligibility

        requirements.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkProfileEligibilityCheckRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /link/token/create:
    x-plaid-business-unit-context: BUSINESS_UNIT_UNDETERMINED
    post:
      tags:
      - Plaid
      summary: Plaid Create Link Token
      externalDocs:
        url: /api/tokens/#linktokencreate
      operationId: linkTokenCreate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTokenCreateResponse'
              examples:
                example-1:
                  value:
                    link_token: link-sandbox-af1a0311-da53-4636-b754-dd15cc058176
                    expiration: '2020-03-27T12:56:34Z'
                    request_id: XQVgFigpGHXkb0b
      description: 'The `/link/token/create` endpoint creates a `link_token`, which is required as a parameter when initializing Link. Once Link has been initialized, it returns a `public_token`, which can then be exchanged for an `access_token` via `/item/public_token/exchange` as part of the main Link flow.


        A `link_token` generated by `/link/token/create` is also used to initialize other Link flows, such as the update mode flow for tokens with expired credentials, or the Payment Initiation (Europe) flow.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTokenCreateRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /link/token/get:
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      tags:
      - Plaid
      summary: Plaid Get Link Token
      externalDocs:
        url: /api/tokens/#linktokenget
      operationId: linkTokenGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTokenGetResponse'
              examples:
                example-1:
                  value:
                    created_at: '2020-12-02T21:14:54Z'
                    expiration: '2020-12-03T01:14:54Z'
                    link_token: link-sandbox-33792986-2b9c-4b80-b1f2-518caaac6183
                    metadata:
                      account_filters:
                        depository:
                          account_subtypes:
                          - checking
                          - savings
                      client_name: Insert Client name here
                      country_codes:
                      - US
                      initial_products:
                      - auth
                      language: en
                      redirect_uri: null
                      webhook: https://www.example.com/webhook
                    request_id: u0ydFs493XjyTYn
      description: 'The `/link/token/get` endpoint gets information about a previously-created `link_token` using the

        `/link/token/create` endpoint. It can be useful for debugging purposes.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTokenGetRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /link/oauth/correlation_id/exchange:
    x-plaid-business-unit-context: BUSINESS_UNIT_PLAID
    post:
      tags:
      - Plaid
      summary: Plaid Exchange the Link Correlation Id for a Link Token
      externalDocs:
        url: /api/oauth/#linkcorrelationid
      operationId: linkOauthCorrelationIdExchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkOAuthCorrelationIdExchangeResponse'
              examples:
                example-1:
                  value:
                    link_token: link-sandbox-33792986-2b9c-4b80-b1f2-518caaac6183
                    request_id: u0ydFs493XjyTYn
      description: 'Exchange an OAuth `link_correlation_id` for the corresponding `link_token`. The `link_correlation_id` is only available for ''payment_initiation'' products and is provided to the client via the OAuth `redirect_uri` as a query parameter.

        The `link_correlation_id` is ephemeral and expires in a brief period, after which it can no longer be exchanged for the ''link_token''.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkOAuthCorrelationIdExchangeRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Development
      url: https://development.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/create:
    post:
      tags:
      - Plaid
      summary: Create an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportcreate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportCreateResponse'
              examples:
                example-1:
                  value:
                    asset_report_token: assets-sandbox-6f12f5bb-22dd-4855-b918-f47ec439198a
                    asset_report_id: 1f414183-220c-44f5-b0c8-bc0e6d4053bb
                    request_id: Iam3b
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportCreate
      description: 'The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.


        The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. The exact amount of time to create the report will vary depending on how many days of history are requested and will typically range from a few seconds to about one minute. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see Asset Report webhooks.


        The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportCreateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/get:
    post:
      tags:
      - Plaid
      summary: Retrieve an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportget
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportGetResponse'
              examples:
                example-1:
                  value:
                    report:
                      asset_report_id: 028e8404-a013-4a45-ac9e-002482f9cafc
                      client_report_id: client_report_id_1221
                      date_generated: '2023-03-30T18:27:37Z'
                      days_requested: 90
                      items:
                      - accounts:
                        - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                          balances:
                            available: 43200
                            current: 43200
                            limit: null
                            margin_loan_amount: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          days_available: 90
                          historical_balances:
                          - current: 49050
                            date: '2023-03-29'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-28'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-27'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-26'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: '2023-03-25'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: '4444'
                          name: Plaid Money Market
                          official_name: Plaid Platinum Standard 1.85% Interest Money Market
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                region: NY
                                street: 2992 Cameron Road
                                postal_code: '14236'
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                region: CA
                                street: 2493 Leisure Lane
                                postal_code: 93405-2255
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: +1 111-555-3333
                              primary: false
                              type: home
                            - data: +1 111-555-4444
                              primary: false
                              type: work
                            - data: +1 111-555-5555
                              primary: false
                              type: mobile
                          ownership_type: null
                          subtype: money market
                          transactions:
                          - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                            amount: 5850
                            date: '2023-03-30'
                            iso_currency_code: USD
                            original_description: ACH Electronic CreditGUSTO PAY 123456
                            pending: false
                            transaction_id: gGQgjoeyqBF89PND6K14Sow1wddZBmtLomJ78
                            unofficial_currency_code: null
                          type: depository
                        - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                          balances:
                            available: 100
                            current: 110
                            limit: null
                            margin_loan_amount: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          days_available: 90
                          historical_balances:
                          - current: 110
                            date: '2023-03-29'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -390
                            date: '2023-03-28'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -373.67
                            date: '2023-03-27'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -284.27
                            date: '2023-03-26'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -284.27
                            date: '2023-03-25'
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: '0000'
                          name: Plaid Checking
                          official_name: Plaid Gold Standard 0% Interest Checking
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                region: NY
                                street: 2992 Cameron Road
                                postal_code: '14236'
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                region: CA
                                street: 2493 Leisure Lane
                                postal_code: 93405-2255
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: +1 111-555-3333
                              primary: false
                              type: home
                            - data: +1 111-555-4444
                              primary: false
                              type: work
                            - data: +1 111-555-5555
                              primary: false
                              type: mobile
                          ownership_type: null
                          subtype: checking
                          transactions:
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: 89.4
                            date: '2023-03-27'
                            iso_currency_code: USD
                            original_description: SparkFun
                            pending: false
                            transaction_id: 4zBRq1Qem4uAPnoyKjJNTRQpQddM4ztlo1PLD
                            unofficial_currency_code: null
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: 12
                            date: '2023-03-28'
                            iso_currency_code: USD
                            original_description: 'McDonalds #3322'
                            pending: false
                            transaction_id: dkjL41PnbKsPral79jpxhMWdW55gkPfBkWpRL
                            unofficial_currency_code: null
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: 4.33
                            date: '2023-03-28'
                            iso_currency_code: USD
                            original_description: Starbucks
                            pending: false
                            transaction_id: a84ZxQaWDAtDL3dRgmazT57K7jjN3WFkNWMDy
                            unofficial_currency_code: null
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: -500
                            date: '2023-03-29'
                            iso_currency_code: USD
                            original_description: United Airlines **** REFUND ****
                            pending: false
                            transaction_id: xG9jbv3eMoFWepzB7wQLT3LoLggX5Duy1Gbe5
                            unofficial_currency_code: null
                          type: depository
                        date_last_updated: '2023-03-30T18:25:26Z'
                        institution_id: ins_109508
                        institution_name: First Platypus Bank
                        item_id: AZMP7JrGXgtPd3AQMeg7hwMKgk5E8qU1V5ME7
                      user:
                        client_user_id: uid_40332
                        email: abcharleston@example.com
                        first_name: Anna
                        last_name: Charleston
                        middle_name: B
                        phone_number: 1-415-867-5309
                        ssn: 111-22-1234
                    request_id: GVzMdiDd8DDAQK4
                    warnings: []
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportGet
      description: 'The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the `PRODUCT_READY` webhook to fire, indicating that the Report is ready to be retrieved.


        By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report. To retrieve an Asset Report with Insights, call the `/asset_report/get` endpoint with `include_insights` set to `true`.


        For latency-sensitive applications, you can optionally call `/asset_report/create` with `options.add_ons` set to `["fast_assets"]`. This will cause Plaid to create two versions of the Asset Report: one with only current and available balance and identity information, and then later on the complete Asset Report. You will receive separate webhooks for each version of the Asset Report.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportGetRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/pdf/get:
    post:
      tags:
      - Plaid
      summary: Retrieve a PDF Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportpdfget
      responses:
        '200':
          description: A PDF of the Asset Report
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/AssetReportPDFGetResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportPdfGet
      description: 'The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the `PRODUCT_READY` webhook to fire, indicating that the Report is ready to be retrieved.


        The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id` is returned in the `Plaid-Request-ID` header.


        View a sample PDF Asset Report.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportPDFGetRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/refresh:
    post:
      tags:
      - Plaid
      summary: Refresh an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportrefresh
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportRefreshResponse'
              examples:
                example-1:
                  value:
                    asset_report_id: c33ebe8b-6a63-4d74-a83d-d39791231ac0
                    asset_report_token: assets-sandbox-8218d5f8-6d6d-403d-92f5-13a9afaa4398
                    request_id: NBZaq
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportRefresh
      description: 'An Asset Report is an immutable snapshot of a user''s assets. In order to "refresh" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.


        The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string ("") for any previously-populated fields you would like set as empty.


        Note: Asset Report refresh is not supported in Canada.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportRefreshRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/filter:
    post:
      tags:
      - Plaid
      summary: Filter Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportfilter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportFilterResponse'
              examples:
                example-1:
                  value:
                    asset_report_token: assets-sandbox-bc410c6a-4653-4c75-985c-e757c3497c5c
                    asset_report_id: fdc09207-0cef-4d88-b5eb-0d970758ebd9
                    request_id: qEg07
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportFilter
      description: 'By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.


        To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report''s data.


        Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.


        Plaid will fire a `PRODUCT_READY` webhook once generation of the filtered Asset Report has completed.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportFilterRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/remove:
    post:
      tags:
      - Plaid
      summary: Delete an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportremove
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportRemoveResponse'
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: I6zHN
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportRemove
      description: 'The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.


        The `/asset_report/remove` endpoint allows you to remove access to an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportRemoveRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/audit_copy/create:
    post:
      tags:
      - Plaid
      summary: Create Asset Report Audit Copy
      externalDocs:
        url: /api/products/assets/#asset_reportaudit_copycreate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportAuditCopyCreateResponse'
              examples:
                example-1:
                  value:
                    audit_copy_token: a-sandbox-3TAU2CWVYBDVRHUCAAAI27ULU4
                    request_id: Iam3b
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportAuditCopyCreate
      description: 'Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to the GSEs on your behalf if you participate in Fannie Mae''s Day 1 Certainty™ program or utilize Freddie Mac''s Loan Product Advisor® (LPA®) Asset and Income Modeler (AIM). An Audit Copy contains the same underlying data as the Asset Report.


        To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You''ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyCreateRequest'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/audit_copy/get:
    post:
      summary: Retrieve an Asset Report Audit Copy
      tags:
      - Plaid
      operationId: assetReportAuditCopyGet
      externalDocs:
        url: /none/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyGetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportGetResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      description: '`/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint. The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor. This token can then be used to call `/asset_report/audit_copy/get`.'
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/audit_copy/pdf/get:
    post:
      tags:
      - Plaid
      summary: Retrieve a PDF Asset Report Audit Copy
      externalDocs:
        url: /none/
      responses:
        '200':
          description: A PDF of the Asset Report Audit Copy
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/AssetReportAuditCopyPdfGetResponse'
              examples:
                example-1:
                  value: JVBERi0xLjQKJeLjz9MKMyAwIG9iaiA8PC9MZW5ndGggNDY2MS9GaWx0ZXIvRmxhdGVEZWNvZGU+PnN0cmVhbQp4nF2SyY4cMRBF94VdzI0O...
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportAuditCopyPdfGet
      description: 'The `/asset_report/audit_copy/pdf/get` endpoint retrieves an Asset Report Audit Copy in PDF format. The caller must provide the `audit_copy_token` that was shared via the `/asset_report/audit_copy/create` endpoint.


        The response to `/asset_report/audit_copy/pdf/get` is the PDF binary data. The `request_id` is returned in the `Plaid-Request-ID` header.


        View a sample PDF Asset Report.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyPdfGetRequest'
        description: ''
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /asset_report/audit_copy/remove:
    post:
      tags:
      - Plaid
      summary: Remove Asset Report Audit Copy
      externalDocs:
        url: /api/products/assets/#asset_reportaudit_copyremove
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportAuditCopyRemoveResponse'
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: m8MDnv9okwxFNBV
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      operationId: assetReportAuditCopyRemove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyRemoveRequest'
        description: ''
      description: The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/monitoring_insights/subscribe:
    post:
      summary: (Legacy) Subscribe to Cash Flow Updates
      deprecated: true
      tags:
      - Plaid
      operationId: craMonitoringInsightsSubscribe
      externalDocs:
        url: /api/products/check/#cramonitoring_insightssubscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraMonitoringInsightsSubscribeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraMonitoringInsightsSubscribeResponse'
              examples:
                example-1:
                  value:
                    subscription_id: f17efbdd-caab-4278-8ece-963511cd3d51
                    request_id: GVzMdiDd8DDAQK4
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      description: This endpoint allows you to subscribe to insights for a user's linked CRA Item, which are updated between one and four times per day (best-effort). Only one Item per user may be subscribed. This endpoint is part of the legacy Cash Flow Updates product and is available only to integrations already using it; other integrations should use `/cra/servicing/subscription/create` instead.
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/monitoring_insights/unsubscribe:
    post:
      summary: (Legacy) Unsubscribe from Cash Flow Updates
      deprecated: true
      tags:
      - Plaid
      operationId: craMonitoringInsightsUnsubscribe
      externalDocs:
        url: /api/products/check/#cramonitoring_insightsunsubscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraMonitoringInsightsUnsubscribeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraMonitoringInsightsUnsubscribeResponse'
              examples:
                example-1:
                  value:
                    request_id: GVzMdiDd8DDAQK4
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError_2'
      description: This endpoint allows you to remove a subscription created by `/cra/monitoring_insights/subscribe`. This endpoint is part of the legacy Cash Flow Updates product and is available only to integrations already using it; other integrations should use `/cra/servicing/subscription/delete` instead.
    servers:
    - description: Production
      url: https://production.plaid.com
    - description: Sandbox
      url: https://sandbox.plaid.com
  /cra/monitoring_insights/get:
    post:
      summary: (Legacy) Retrieve a Cash Flow Updates report
      deprecated: true
      tags:
      - Plaid
      operationId: craMonitoringInsightsGet
      externalDocs:
        url: /api/products/check/#cramonitoring_insightsget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraMonitoringInsightsGetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraMonitoringInsightsGetResponse'
              examples:
                example-1:
                  value:
                    user_insights_id: 028e8404-a013-4a45-ac9e-002482f9cafc
                    items:
                    - date_generated: '2023-03-30T18:27:37Z'
                      item_id: AZMP7JrGXgtPd3AQMeg7hwMKgk5E8qU1V5ME7
                      institution_id: ins_0
                      institution_name: Plaid Bank
                      status:
                        status_code: AVAILABLE
                      insights:
                        income:
                          income_sources:
                          - income_source_id: f17efbdd-caab-4278-8ece-963511cd3d51
                            income_description: PLAID_INC_DIRECT_DEP_PPD
                            income_category: SALARY
                            last_transaction_date: '2023-03-30'
                          forecasted_monthly_income:
                            current_amount: 12000
                          total_monthly_income:
                            current_amount: 20000.31
                          historical_annual_income:
                            current_amount: 144000
                          income_sources_counts:
                            current_count: 1
                        loans:
                          loan_payments_counts:
                            current_count: 1
                          loan_payment_merchants_counts:
                            current_count: 1
                          loan_disbursements_count: 1
                      accounts:
                      - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                        attributes:
                          total_inflow_amount:
                            amount: -2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_inflow_amount_30d:
                            amount: -1000
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_inflow_amount_60d:
                            amount: -2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_inflow_amount_90d:
                            amount: -2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount:
                            amount: 2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount_30d:
                            amount: 1000
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount_60d:
                            amount: 2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount_90d:
                            amount: 2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        balances:
                          available: 5000
                          average_balance: 4956.12
                          average_monthly_balances:
                          - average_balance:
                              amount: 4956.12
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            end_date: '2024-07-31'
                            start_date: '2024-07-01'
                          current: 5000
                          iso_currency_code: USD
                          limit: null
                          most_recent_thirty_day_average_balance: 4956.125
                          unofficial_currency_code: null
                        consumer_disputes: []
                        days_available: 365
                        mask: '1208'
                        metadata:
                          start_date: '2024-01-01'
                          end_date: '2024-07-16'
                        name: Checking
                        official_name: Plaid checking
                        owners:
                        - addresses:
                          - data:
                              city: Malakoff
                              country: US
                              postal_code: '14236'
                              region: NY
                              street: 2992 Cameron Road
                            primary: true
                          - data:
                              city: San Matias
                              country: US
                              postal_code: 93405-2255
                              region: CA
                              street: 2493 Leisure Lane
                            primary: false
                          emails:
                          - data: accountholder0@example.com
                            primary: true
                            type: primary
                          - data: accountholder1@example.com
                            primary: false
                            type: secondary
                          - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                            primary: false
                            type: other
                          names:
                          - Alberta Bobbeth Charleson
                          phone_numbers:
                          - data: +1 111-555-3333
                            primary: false
                            type: home
                          - data: +1 111-555-4444
                            primary: false
                            type: work
                          - data: +1 111-555-5555
                            primary: false
                            type: mobile
                        ownership_type: null
                        subtype: checking
                        transactions:
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 37.07
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
                            primary: GENERAL_MERCHANDISE
                          date: '2024-07-12'
                          date_posted: '2024-07-12T00:00:00Z'
                          date_transacted: '2024-07-12'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Amazon
                          original_description: AMZN Mktp US*11111111 Amzn.com/bill WA AM
                          pending: false
                          transaction_id: XA7ZLy8rXzt7D3j9B6LMIgv5VxyQkAhbKjzmp
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 51.61
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: '2024-07-12'
                          date_posted: '2024-07-12T00:00:00Z'
                          date_transacted: '2024-07-12'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Domino's
                          original_description: DOMINO's XXXX 111-222-3333
                          pending: false
                          transaction_id: VEPeMbWqRluPVZLQX4MDUkKRw41Ljzf9gyLBW
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 7.55
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_FURNITURE_AND_HARDWARE
                            primary: GENERAL_MERCHANDISE
                          date: '2024-07-12'
                          date_posted: '2024-07-12T00:00:00Z'
                          date_transacted: '2024-07-12'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Chicago
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: IKEA
                          original_description: IKEA CHICAGO
                          pending: false
                          transaction_id: 6GQZARgvroCAE1eW5wpQT7w3oB6nvzi8DKMBa
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 12.87
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_SPORTING_GOODS
                            primary: GENERAL_MERCHANDISE
                          date: '2024-07-12'
                          date_posted: '2024-07-12T00:00:00Z'
                          date_transacted: '2024-07-12'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Redlands
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Nike
                          original_description: NIKE REDLANDS CA
                          pending: false
                          transaction_id: DkbmlP8BZxibzADqNplKTeL8aZJVQ1c3WR95z
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 44.21
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: '2024-07-12'
                          date_posted: '2024-07-12T00:00:00Z'
                          date_transacted: '2024-07-12'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: null
                          original_description: POKE BROS * POKE BRO IL
                          pending: false
                          transaction_id: RpdN7W8GmRSdjZB9Jm7ATj4M86vdnktapkrgL
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 36.82
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_DISCOUNT_STORES
                            primary: GENERAL_MERCHANDISE
                          date: '2024-07-13'
                          date_posted: '2024-07-13T00:00:00Z'
                          date_transacted: '2024-07-13'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Family Dollar
                          original_description: FAMILY DOLLAR
                          pending: false
                          transaction_id: 5AeQWvo5KLtAD9wNL68PTdAgPE7VNWf5Kye1G
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 13.27
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: '2024-07-13'
                          date_posted: '2024-07-13T00:00:00Z'
                          date_transacted: '2024-07-13'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Instacart
                          original_description: INSTACART HTTPSINSTACAR CA
                          pending: false
                          transaction_id: Jjlr3MEVg1HlKbdkZj39ij5a7eg9MqtB6MWDo
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 36.03
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: '2024-07-13'
                          date_posted: '2024-07-13T00:00:00Z'
                          date_transacted: '2024-07-13'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: null
                          original_description: POKE BROS * POKE BRO IL
                          pending: false
                          transaction_id: kN9KV7yAZJUMPn93KDXqsG9MrpjlyLUL6Dgl8
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 54.74
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: '2024-07-13'
                          date_posted: '2024-07-13T00:00:00Z'
                          date_transacted: '2024-07-13'
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Whittier
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Smart & Final
                          original_description: POS SMART AND FINAL 111 WHITTIER CA
                          pending: false
                          transaction_id: lPvrweZAMqHDar43vwWKs547kLZVEzfpogGVJ
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 37.5
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: '2024-07-13'
                          date_posted: '2024-07-13T00:00:00Z'
                          date_transacted: '2024-07-13'
                          iso_currency_code: USD
                          location:
                            address: 1627 N 24th St
                            city: Phoenix
                            country: null
                            lat: null
                            lon: null
                            postal_code: '85008'
                            region: AZ
                            state: AZ
                            store_number: null
                            zip: '85008'
                          merchant_name: Taqueria El Guerrerense
                          original_description: TAQUERIA EL GUERRERO PHOENIX AZ
                          pending: false
                          transaction_id: wka74WKqngiyJ3pj7dl5SbpLGQBZqyCPZRDbP
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 41.42
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
[...]
